%div.left_half
  %div.boxtitle
    - @donor = @the_thing
    = "Donor: #{@donor.full_name}"
  %div.boxcontent
    %ul.show_list
      = raw show_field(@donor.full_name, 'Name')
      = raw show_field(@donor.phones_formatted, 'Phone Numbers')
      = raw show_field(@donor.email, 'Email')
      = raw show_field(ApplicationHelper::CITY_SECTIONS[@donor.city_section], 'City Section')
      = raw show_field(@donor.street_1, 'Street')
      = raw show_field(@donor.buzzer_number, 'Buzzer Number')
      = raw show_field(@donor.level, 'Level')
      = raw show_field(@donor.elevator, 'Elevator')
      = raw show_field(@donor.directions, 'Directions')
      = raw show_field(datetime_formatted(@donor.possible_future_pickup_time), 'Possible Future Pickup')
      = raw show_field("$#{@donor.donation_amount}", 'Donation')
      %br
      = raw show_field(datetime_formatted(@donor.created_at), 'Created At')
      = raw show_field(datetime_formatted(@donor.updated_at), 'Updated At')

%div.clear_both
  = render "donor_pickups/donor_pickups"

%div.left_half
  %h3
    = '-----------------------------'
    Restructured data below:
    = '-----------------------------'
  %ul.show_list
    = raw show_field(datetime_formatted(@donor.scheduled_pickup_time), 'Scheduled Pickup Time')
    = raw show_field(@donor.pickup_comments, 'Pickup Comments')
    = raw show_field(Donor::STATES[@donor.state], 'Status')
    = raw show_field(Donor::PRIORITIES[@donor.priority], 'Class')
    = raw show_field(@donor.pending, 'Pending')

  %br
  = render "donor_items/donor_items"
  = link_to 'Edit', edit_donor_path(@donor)
  |
  = link_to 'Index', donors_path
