%tr
  = raw table_row(item.id)
  = raw table_row(item.category_string)
  = raw table_row(item.item_code)
  = raw table_row(item.name)
  = raw table_row(item.obsolete)
  = raw table_row(item.description)
  %td
    = image_tag(item.icon_path, :width => "50", :height =>"50") unless item.icon_path.blank?
  %td
    = link_to_icon(:view, item_path(item))
    |
    = link_to_icon(:edit, edit_item_path(item))
    -#gg: only allowing deletion of item by admin
    - if (current_user.login == 'gnorris')
      |
      = link_to_icon(:delete, polymorphic_path([item]))
